<h3 md-dialog-title>Recover password</h3>
<md-dialog-content>
  <form [formGroup]="formGroup" (submit)="sendMail(email.value)">
    <md-input-container class="full-width">
      <input mdInput placeholder="Email" formControlName="email" #email>
      <md-icon mdSuffix>mail_outline</md-icon>
      <md-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
        {{emailErrorMessageInvalid}}
      </md-error>
    </md-input-container>
    <button md-button id="recoverPasswordButton" [disabled]="!formGroup.valid">
       SEND 
       <md-icon>keyboard_arrow_right</md-icon>
    </button>
  </form>
  <span style="float: right;" *ngIf=showMessage>{{message}} <md-icon>check</md-icon></span>
  <md-progress-bar *ngIf=showProgressBar id="recoverPasswordCardProgressBar" color='primary' mode="indeterminate"></md-progress-bar>
</md-dialog-content>