<div id="wrapper">
  <md-card id="loginCard">
    <!-- Card header -->
    <md-card-header>
      <md-card-title>LOGIN</md-card-title>
    </md-card-header>

    <!-- Card content -->
    <md-card-content>
      <div id="loginFormWrapper">
        <form id="loginForm" [formGroup]="formGroup" (submit)="login(email.value, password.value)">
          <md-input-container class="full-width">
            <input mdInput placeholder="Email" formControlName="email" #email [(ngModel)]="emailInput">
            <md-icon mdSuffix>mail_outline</md-icon>
            <md-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
              {{emailErrorMessageInvalid}}
            </md-error>
          </md-input-container>

          <md-input-container class="full-width">
            <input mdInput placeholder="Password" type="password" formControlName="password" #password [(ngModel)]="passwordInput">
            <md-icon mdSuffix>lock_outline</md-icon>
            <md-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
              {{passwordErrorMessageRequired}}
            </md-error>
          </md-input-container>

          <div id="loginFormActions">
            <button md-raised-button id="loginButton" [disabled]="!formGroup.valid">Submit</button>
          </div>
        </form>
        <hr style="border: 1px dashed #E0E0E0;">
        <!-- <a (click)="openRecoverPasswordDialog()" class="float-right font-size-12">Forgot password</a> -->
        <button md-button (click)="openRecoverPasswordDialog()" class="float-right font-size-12">Forgot password</button>
        <md-checkbox [(ngModel)]="rememberMe">Remember me</md-checkbox>
      </div>
    </md-card-content>

    <!-- Card footer -->
    <md-card-footer id="loginCardFooter">
      <button md-mini-fab id="signUpButton" mdTooltip="Sign up" [mdTooltipPosition]="tooltipPosition"><md-icon>add</md-icon></button>
      <md-progress-bar *ngIf=showProgressBar id="loginCardProgressBar" color='primary' mode="indeterminate"></md-progress-bar>
    </md-card-footer>
  </md-card>
</div>