@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* width */
.full-width{
    width: 100%;
}



/* float */
.float-right{
    float: right;
}

.float-left{
    float: left;
}


/* font size */
.font-size-12{
    font-size: 12px;
}